.header {
  font-size: 60px;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 3rem;
}

.container hr {
  width: 100%;
}

.year-header {
  font-size: 60px;
  color: white;
  text-align: right;
}

.year-subheader {
  font-weight: normal;
  color: lightgray;
  text-align: right;
}

.comment {
  padding: 0 4rem;
}

.button {
  background-color: gray;
}

.button-selected {
  background-color: green;
}
