/* Overview.module.css */

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.containerHeader {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: inherit;
}

.containerP {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  color: inherit;
}

.containerList {
  list-style: disc inside;
  margin-left: 0;
  margin-bottom: 1rem;
  padding-left: 1rem;
}

.containerListItem {
  margin-bottom: 0.75rem;
  line-height: 1.5;
}

.containerListItem em {
  font-style: italic;
  font-weight: 500;
  color: #bbb;
}
